<div class="footer">
    <div class="pull-right">
        Dev. by Emanuel Sosa
    </div>
    <div>
        <strong>Copyright</strong> Proyecto Victoria, Asociación Brigadas de Amor Cristiano &copy; 2015
    </div>
</div>
