@model IEnumerable<SICIApp.Entities.CENTROTERAPEUTICO>

@{
    ViewBag.Title = "CONFIGURACIONES GENERALES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">CONFIGURACIONES GENERALES <small>CENTROS TERAPÉUTICOS, ETC...</small></h2>
<div class="row">
    <a class="col-md-2 col-sm-4 col-xs-6" href="@Url.Action("CentrosTerapeuticos", "Configuraciones")">
        <div class="box">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>
            <div class="description">
                <strong>Centros Terapéuticos</strong>
            </div>
        </div>
    </a>
</div>